@use "./theme/theme.scss" as theme;

.main {
  background-color: transparent;
  width: 900px;
  height: 100vh;
  position: relative;
  margin: 0 auto;
  margin-top: 0;
}

.sky_elements {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  inset: 0;
  margin-top: 10px;
}
.search_bar {
  margin-top: 10%;
}
